


.hidden{
  display: none;
}



main{
  width: 1024px;
  margin: 0 auto;
}

header{
  background-image: url(../images/IMG_2601.jpg);
  background-repeat: no-repeat;

  height: 330px;
}
/*an em is a relative measurement based on body font size*/
body{
  font-size: 16px;
}

.text-graphic{
  font-size: 7.5em;
  font-family: "Anton", sans-serif;
  -webkit-background-clip:text;
  color:black;



  position: relative;
  left:28px;
  top:150px;
}

.maintext{
  color: #8dbc45;
  width:1024px;
  margin:0 auto;
}

.title{

  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 45px;
  font-family: "Arvo", sans-serif;
}
 .upper{

   font-size: 50px;
   font-family: "Abel",sans-serif;
   line-height: 94%;
   float:left;
   opacity:0.8;


 }

 .lower{
  margin-bottom:10px;
   font-size: 20px;
   opacity:0.6;

   font-family: "Abel",sans-serif;
 }

 .subtitle{

   font-size:20px;
   opacity:1;
  margin-bottom: 20px;
  margin-bottom: 20px;
   font-family: "Abel",sans-serif;
 }

 .textWrapper{
   align-content: center;
 }

/*font-family: 'Anton', sans-serif;
font-family: 'Arvo', serif;*/
